Grid body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  padding: 1rem 0;
}

article {
  padding: 0;
  overflow: hidden;
}

article div {
  padding: 0.1rem;
}

.under-form-text {
  padding-top: 5px;
  padding-left: 2px;
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .form-side {
    background-position: center;
    background-size: cover;
    padding: 3em 2.7em;
    height: 65vh;
  }

  .form-side button {
    width: fit-content;
  }

  .form-side > hgroup > h1,
  .form-side > hgroup > p {
    font-weight: 300;
    color: var(--h3-color);
  }

  .form-side > form,
  input {
    font-weight: 300;
  }

  .form-side > form > input {
    background-color: whitesmoke;
  }
  .under-form-text,
  .disclaimer-link {
    padding-left: 18px;
  }
}

/* Hero Image */
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
  .form-side {
    background-image: none !important;
  }
}

.auth-page > main.container {
  margin-top: 2.5rem;
}

.disclaimer {
  margin-top: -1.2em !important;
}

.disclaimer-link {
  font-size: smaller;
}

.disclaimer-text {
  font-size: smaller;
}
